appdirs==1.4.4
arabic-reshaper==3.0.0
arrow==1.2.3
Babel==2.12.1
defusedxml==0.7.1
et-xmlfile==1.1.0
fonttools==4.41.0
fpdf==1.7.2
fpdf2==2.7.4
openpyxl==3.1.2
Pillow==10.0.0
python-bidi==0.4.2
python-dateutil==2.8.2
six==1.16.0
unicategories==0.1.2
